---
---

@import "{{ site.theme }}";

a.btns {
	-webkit-font-smoothing: antialiased;
	background: url(../images/downarrow.png) no-repeat;
	font-weight: normal;
	vertical-align: middle;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}
