---
---

@import "{{ site.theme }}";

a.btns {
	-webkit-font-smoothing: antialiased;
	background: url(../images/myicons.png) no-repeat;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}
